<div class="text-center">


    <h1 class="display-4"> Edith Alvado</h1>
    <h2>Estudiante del CTP San Rafael de la seccion 12-4</h2>



    <img id="foto"
         src="~/imagenes/edith.jpg" alt="Foto Edith" />

</div>



<div class="row justify-content-center text-center bg- success alert">
    <div class="col col-md-7 seccion-bienvenida">
        <h1> Bienvenido</h1>
        <p>
            Mis especialidades: Desarrollador Web con C#, .NET.Soy una programadora que brindomantenimiento de software, utilizando lenguajes de programación para desarrollar aplicaciones, resolver problemas técnicos y mejorar la eficiencia de sistemas informáticos. 
        </p>
    </div>
</div>
